<!--  Essential META Tags -->
<meta property="og:title" content="DiStem Bundle for Autodesk Revit | User Guide">
<meta property="og:type" content="website" />
<meta property="og:image" content="https://docs.prosheets.diroots.com/assets/images/DiStem-User-Guide-Featured-Image.png">
<meta property="og:url" content="https://docs.distem.diroots.com">
<meta name="twitter:card" content="summary_large_image">

<!--  Additional META tags -->
<meta property="og:description" content="DiStem User Guide. Plugins included in DiStem Bundle for Autodesk Revit: Properties Extractor and Mapping Tool, 2D & 3D Measure Tool, Model Cleanup tool, Parameters Mapping, CAD Manager, Transfer Project Standards, glTF Exporter.">
<meta property="og:site_name" content="DiStem Bundle for Autodesk Revit | User Guide">
<meta name="twitter:image:alt" content="DiStem for Autodesk Revit - User Manual">

<meta name="theme-color" content="#e6ae46">
<meta name="rating" content="General">

<meta name="twitter:site" content="@DiRoots17">
<meta name="twitter:url" content="https://docs.distem.diroots.com/"> 